body,
html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background: linear-gradient(325deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%);
}

/* Header Elements */

.header {
  height: 25%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 2;
  margin: auto;
}

.header-sub {
  height: 35%;
  width: 16%;
  display: flex;
  align-items: center;
  margin-left: -16%;
}

.header-left {
  width: 52%;
  margin: auto;
}

.header-right {
  width: 50%;
  height: 67%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}

.header-sub {
  height: 35%;
  width: 307px;
  display: flex;
  align-items: center;
  margin-left: -58%;
}

.move,
.timer {
  color: white;
  font-size: 123%;
  margin: auto;
}

.btn {
  background-color: black;
  color: grey;
  border: none;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 21px;
}

/* Containers elements */

.container-main {
  width: 500px;
  height: 504px;
  background: linear-gradient(135deg, #6f00fc 0%, #fc7900 50%, #fcc700 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 9px;
  border: 3px;
  margin: auto;
}
.cotainer-main-1 {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.card {
  background-color: black;
  width: 18%;
  border: 2px solid red;
  height: 73%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.main-game-container {
  margin: auto;
  width: 100%;
  height: 54%;
}

/* Animation box */
.front,
.back {
  width: 80%;
  height: 80%;
  position: absolute;
  backface-visibility: hidden;
  margin: auto;
  margin-left: 11%;
  margin-top: 8%;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.not-flipped {
  transform: rotateY(0deg);
}

.flipped {
  transform: rotateY(180deg);
}


.medium {
  font-size: 20px;
  color: white;
}

.hidden {
  display: none;
}


#congrats-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it appears on top of other elements */
}

#congrats-message {
  font-size: 24px;
  color: #ffffff;
  background-color: #00b300;
  padding: 20px;

}